<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= project.name %></title>
  <!-- build:css style.css -->
  <link rel="stylesheet" href="css/vendor/yui-reset.css">
  <!-- endbuild -->
  <!-- build:css index.css -->
  <link rel="stylesheet" href="dist/modules/index.css">
  <!-- endbuild -->
  <!--[if IE]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <header>
    <h1><%= project.name %></h1>
  </header>
  <main>

  </main>
  <!-- build:js js/index.js -->
  <script data-main="js/index" src="/bower_components/requirejs/require.js"></script>
  <!-- endbuild -->
</body>
</html>
