# Dependency directory
node_modules

# WebStorm stuff
.idea

# Temp files directories used by the Gulp toolchain
css/dist

# Bower
bower_components

# Directory used by mocha to test the generator
test/temp

# Coverage directory used by istanbul
coverage
